.color{
    background-color: #4CAF4F;
    color: white;
}
.bg{
    background-color: #F5F7FA;
}
.tc{
    color: #4D4D4D;
}
.t8{
    color: #4CAF4F;
}
:hover .color{
    background-color: #45A049;
    color: white;
}
.f1{
    padding-right: 100px;
    margin-bottom: 40% !important;
}
.bb{
    border: none!important;
}