.color{
    background-color: #4CAF4F;
    color: white;
}
.bg{
    background-color: #F5F7FA;
}
.tc{
    color: #4D4D4D;
}
.t8{
    color: #4CAF4F;
}
:hover .color{
    background-color: #45A049;
    color: white;
}

.bb{
    border: none!important;
}
